<?xml version="1.0" encoding="UTF-8"?>
<extension_measures>
  <fd_count>
    <group title="fd">
      <column user_defined="comm" condition="sendmail" />
      <column user_defined="comm" condition="httpd" />
    </group>
  </fd_count>
  <line_count>
    <group title="dsn" file_path="/var/log/maillog">
      <column condition="client=" />
      <column condition="dsn=2" />
      <column condition="dsn=4" />
      <column condition="dsn=5" />
    </group>
  </line_count>
  <ps_aggregate>
    <group title="mem" user_defined="pmem" format="%.1f">
      <column user_defined="comm" condition="httpd" />
      <column user_defined="comm" condition="bash" />
    </group>
  </ps_aggregate>
  <ps_count>
    <group title="ps">
      <column user_defined="comm" condition="sendmail" />
      <column user_defined="comm" condition="httpd" />
    </group>
  </ps_count>
</extension_measures>
