.measure_title {
  width:   100px;
  display: inline-block;
}

.measure_all_span {
  width:   50px;
  display: inline-block;
}

.btn_all,.btn_meas_all {
  width:   100%;
}

.measure_container {
  min-width: 300px;
  height:    600px;
  margin:    0 auto;
  display:   none;
}
