<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- measure-sh -->
    <link href="stylesheets/measure.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="javascripts/measure.js"></script>
    <script type="text/javascript">
    $(function() {
      if ($(".btn_line_count").length == 0) $("#menu_line_count").hide();
      if ($(".btn_ps_count").length == 0) $("#menu_ps_count").hide();
      if ($(".btn_ps_aggregate").length == 0) $("#menu_ps_aggregate").hide();
      if ($(".btn_fd_count").length == 0) $("#menu_fd_count").hide();

      $(".btn_all").click(function() {
        clickAll($(this), $('.btn_meas_all'));
        clickAll($(this), $('.btn_meas'));
      });

      $(".btn_cpu_all").click(function() {
        clickAll($(this), $('.btn_cpu'));
      });
      $(".btn_network_all").click(function() {
        clickAll($(this), $('.btn_network'));
      });
      $(".btn_diskio_all").click(function() {
        clickAll($(this), $('.btn_diskio'));
      });
      $(".btn_diskutil_all").click(function() {
        clickAll($(this), $('.btn_diskutil'));
      });
      $(".btn_diskuse_all").click(function() {
        clickAll($(this), $('.btn_diskuse'));
      });
      $(".btn_line_count_all").click(function() {
        clickAll($(this), $('.btn_line_count'));
      });
      $(".btn_ps_count_all").click(function() {
        clickAll($(this), $('.btn_ps_count'));
      });
      $(".btn_ps_aggregate_all").click(function() {
        clickAll($(this), $('.btn_ps_aggregate'));
      });
      $(".btn_fd_count_all").click(function() {
        clickAll($(this), $('.btn_fd_count'));
      });

      $(".btn_mem").click(function() {
        clickMeas($(this), createChartOfMemory);
      });
      $(".btn_cpu").click(function() {
        clickMeas($(this), createChartOfCpu);
      });
      $(".btn_loadavg").click(function() {
        clickMeas($(this), createChartOfLoadavg);
      });
      $(".btn_network").click(function() {
        clickMeas($(this), createChartOfNetwork);
      });
      $(".btn_diskio").click(function() {
        clickMeas($(this), createChartOfDiskIO);
      });
      $(".btn_diskutil").click(function() {
        clickMeas($(this), createChartOfDiskUtil);
      });
      $(".btn_diskuse").click(function() {
        clickMeas($(this), createChartOfDiskUsage);
      });
      $(".btn_line_count").click(function() {
        clickMeas($(this), createChartOfLineCount);
      });
      $(".btn_ps_count").click(function() {
        clickMeas($(this), createChartOfPsCount);
      });
      $(".btn_ps_aggregate").click(function() {
        clickMeas($(this), createChartOfPsAggregate);
      });
      $(".btn_fd_count").click(function() {
        clickMeas($(this), createChartOfFdCount);
      });
    });
    </script>
  </head>
  <body>
    <div style="margin: 5px;">
      <span style="width: 160px; display: inline-block;">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_all"><input type="checkbox"/>All</label>
        </span>
      </span>
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Memory</span>
      <span class="measure_all_span"></span>
      <!-- ###MEMORY### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Cpu</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_cpu_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###CPU### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">LoadAverage</span>
      <span class="measure_all_span"></span>
      <!-- ###LOAD_AVERAGE### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Network</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_network_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###NETWORK### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">DiskIO</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_diskio_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###DISK_IO### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">DiskUtil</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_diskutil_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###DISK_UTIL### -->
    </div>
    <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">DiskUsage</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_diskuse_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###DISK_USAGE### -->
    </div>
    <div id="menu_line_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Line Count</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_line_count_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###LINE_COUNT### -->
    </div>
    <div id="menu_ps_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Ps Count</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_ps_count_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###PS_COUNT### -->
    </div>
    <div id="menu_ps_aggregate" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">Ps Aggregate</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_ps_aggregate_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###PS_AGGREGATE### -->
    </div>
    <div id="menu_fd_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
      <span class="measure_title">FD Count</span>
      <span class="measure_all_span">
        <span data-toggle="buttons">
          <label class="btn btn-info btn-xs btn_meas_all btn_fd_count_all"><input type="checkbox"/>All</label>
        </span>
      </span>
      <!-- ###FD_COUNT### -->
    </div>
    <!-- ###CONTAINER### -->
  </body>
</html>
