<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- measure-sh -->
    <link href="stylesheets/measure.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="javascripts/measure.js"></script>
    <script type="text/javascript">
    $(function() {
      if ($(".btn_line_count").length == 0) $("#menu_line_count").hide();
      if ($(".btn_ps_count").length == 0) $("#menu_ps_count").hide();
      if ($(".btn_ps_aggregate").length == 0) $("#menu_ps_aggregate").hide();
      if ($(".btn_fd_count").length == 0) $("#menu_fd_count").hide();

      $(".accordion-toggle").click();

      $(".btn_all").click(function() {
        clickAll($(this), $('.btn_meas_all'));
        clickAll($(this), $('.btn_meas'));
      });

      $(".btn_cpu_all").click(function() {
        clickAll($(this), $('.btn_cpu'));
      });
      $(".btn_network_all").click(function() {
        clickAll($(this), $('.btn_network'));
      });
      $(".btn_diskio_all").click(function() {
        clickAll($(this), $('.btn_diskio'));
      });
      $(".btn_diskutil_all").click(function() {
        clickAll($(this), $('.btn_diskutil'));
      });
      $(".btn_diskiops_all").click(function() {
        clickAll($(this), $('.btn_diskiops'));
      });
      $(".btn_diskuse_all").click(function() {
        clickAll($(this), $('.btn_diskuse'));
      });
      $(".btn_line_count_all").click(function() {
        clickAll($(this), $('.btn_line_count'));
      });
      $(".btn_ps_count_all").click(function() {
        clickAll($(this), $('.btn_ps_count'));
      });
      $(".btn_ps_aggregate_all").click(function() {
        clickAll($(this), $('.btn_ps_aggregate'));
      });
      $(".btn_fd_count_all").click(function() {
        clickAll($(this), $('.btn_fd_count'));
      });

      $(".btn_mem").click(function() {
        clickMeas($(this), createChartOfMemory);
      });
      $(".btn_cpu").click(function() {
        clickMeas($(this), createChartOfCpu);
      });
      $(".btn_loadavg").click(function() {
        clickMeas($(this), createChartOfLoadavg);
      });
      $(".btn_network").click(function() {
        clickMeas($(this), createChartOfNetwork);
      });
      $(".btn_diskio").click(function() {
        clickMeas($(this), createChartOfDiskIO);
      });
      $(".btn_diskutil").click(function() {
        clickMeas($(this), createChartOfDiskUtil);
      });
      $(".btn_diskiops").click(function() {
        clickMeas($(this), createChartOfIops);
      });
      $(".btn_diskuse").click(function() {
        clickMeas($(this), createChartOfDiskUsage);
      });
      $(".btn_line_count").click(function() {
        clickMeas($(this), createChartOfLineCount);
      });
      $(".btn_ps_count").click(function() {
        clickMeas($(this), createChartOfPsCount);
      });
      $(".btn_ps_aggregate").click(function() {
        clickMeas($(this), createChartOfPsAggregate);
      });
      $(".btn_fd_count").click(function() {
        clickMeas($(this), createChartOfFdCount);
      });
    });
    // popover
    $(document).ready(function(){
      $('#title_memory').attr('data-content', '<font size=-1>From result of <code>vmstat -s</code>,<br><b>used</b> is <i>used memory</i> - <i>buffer memory</i> - <i>swap cache</i>.<br><b>free</b> is <i>free memory</i> + <i>buffer memory</i> + <i>swap cache</i>.</font>');
      $('#title_cpu').attr('data-content', '<font size=-1>From result of <code>mpstat -P [cpu] 1 1</code>,<br>Displayed the following values.<br><i>%steal</i>, <i>%soft</i>, <i>%irq</i>, <i>%nice</i>, <i>%iowait</i>, <i>%usr</i>, <i>%sys</i>.<br><br><u>[cpu]</u> is result of <code>cat /proc/cpuinfo</code> and ALL.</font>');
      $('#title_loadavg').attr('data-content', '<font size=-1>From result of <code>cat /proc/loadavg</code>,<br>First is <b>1min</b>, Second is <b>5min</b>, and Third is <b>15min</b>.</font>');
      $('#title_network').attr('data-content', '<font size=-1>From result of <code>netstat -I[Iface]</code>,<br><b>rx_ok</b> is (<i>RX-OK</i> - <i>before RX-OK</i>) / <i>interval</i>.<br><b>tx_ok</b> is (<i>TX-OK</i> - <i>before TX-OK</i>) / <i>interval</i>.<br><br><u>[Iface]</u> is result of <code>ifconfig</code></font>');
      $('#title_diskio').attr('data-content', '<font size=-1>From last result of <code>iostat -kxd [partition] 5 2</code>,<br>Displayed the following values.<br><i>rkB/s</i>, <i>wkB/s</i>.<br><br><u>[partition]</u> is result of <code>cat /proc/partitions</code>.</font>');
      $('#title_diskutil').attr('data-content', '<font size=-1>From last result of <code>iostat -kxd [partition] 5 2</code>,<br>Displayed the following values.<br><i>%util</i>.<br><br><u>[partition]</u> is result of <code>cat /proc/partitions</code>.</font>');
      $('#title_diskiops').attr('data-content', '<font size=-1>From last result of <code>iostat -kxd [partition] 5 2</code>,<br><b>IOPS</b> is <i>r/s</i> + <i>w/s</i>.<br><br><u>[partition]</u> is result of <code>cat /proc/partitions</code>.</font>');
      $('#title_diskusage').attr('data-content', '<font size=-1>From result of <code>df -P [mounted_dir]</code>,<br>Displayed the following values.<br><i>Used</i>.<br><br><u>[mounted_dir]</u> is result of <code>df -P</code>.</font>');
      $('#title_line_count').attr('data-content', '<font size=-1>From the specified file, to get the number of rows that match the conditions.<br>For more information, please refer to <b>conf/extension_measures.xml</b>.</font>');
      $('#title_ps_count').attr('data-content', '<font size=-1>Get the number of processes that match the criteria.<br>For more information, please refer to <b>conf/extension_measures.xml</b>.</font>');
      $('#title_ps_aggregate').attr('data-content', '<font size=-1>Summarizes the value of the specified item of process that match the criteria.<br>For more information, please refer to <b>conf/extension_measures.xml</b>.</font>');
      $('#title_fd_count').attr('data-content', '<font size=-1>Get file descriptor of PID for specified conditions.<br>For more information, please refer to <b>conf/extension_measures.xml</b>.</font>');

      $('[data-toggle="popover"]').popover({
        trigger : 'hover',
        html: true,
      });
    });
    </script>
  </head>
  <body>
    <div class="accordion-group" style="margin: 5px;">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#measure_post" style="text-decoration: none; outline: none; color: #31B0D5;"><h3>measure-sh</h3></a>
      </div>
      <div id="measure_post" class="accordion-body collapse">
        <div class="accordion-inner">
          <div style="margin: 5px;">
            <span style="width: 160px; display: inline-block;">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_all"><input type="checkbox"/>All</label>
              </span>
            </span>
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_memory" class="measure_title" data-toggle="popover" title="Memory">Memory</span>
            <span class="measure_all_span"></span>
            <!-- ###MEMORY### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_cpu" class="measure_title" data-toggle="popover" title="Cpu">Cpu</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_cpu_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###CPU### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_loadavg" class="measure_title" data-toggle="popover" title="Load Average">Load Average</span>
            <span class="measure_all_span"></span>
            <!-- ###LOAD_AVERAGE### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_network" class="measure_title" data-toggle="popover" title="Network">Network</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_network_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###NETWORK### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_diskio" class="measure_title" data-toggle="popover" title="Disk-IO">Disk-IO</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_diskio_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###DISK_IO### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_diskutil" class="measure_title" data-toggle="popover" title="Disk-Util">Disk-Util</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_diskutil_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###DISK_UTIL### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_diskiops" class="measure_title" data-toggle="popover" title="IOPS">IOPS</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_diskiops_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###DISK_IOPS### -->
          </div>
          <div style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_diskusage" class="measure_title" data-toggle="popover" title="Disk-Usage">Disk-Usage</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_diskuse_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###DISK_USAGE### -->
          </div>
          <div id="menu_line_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_line_count" class="measure_title" data-toggle="popover" title="Line Count">Line Count</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_line_count_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###LINE_COUNT### -->
          </div>
          <div id="menu_ps_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_ps_count" class="measure_title" data-toggle="popover" title="Process Count">Process Count</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_ps_count_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###PS_COUNT### -->
          </div>
          <div id="menu_ps_aggregate" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_ps_aggregate" class="measure_title" data-toggle="popover" title="Process Aggregate">Process Aggregate</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_ps_aggregate_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###PS_AGGREGATE### -->
          </div>
          <div id="menu_fd_count" style="margin: 5px; padding: 2px; border-bottom-style: solid; border-width: 1px; border-color: Silver;">
            <span id="title_fd_count" class="measure_title" data-toggle="popover" title="FD Count">FD Count</span>
            <span class="measure_all_span">
              <span data-toggle="buttons">
                <label class="btn btn-info btn-xs btn_meas_all btn_fd_count_all"><input type="checkbox"/>All</label>
              </span>
            </span>
            <!-- ###FD_COUNT### -->
          </div>
        </div>
      </div>
    </div>
    <!-- ###CONTAINER### -->
  </body>
</html>
